html,
body {
	width: 100%;
	height: 100%;
}
.App {
	display: flex;
	height: inherit;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
Wallpaper.videoWrapper iframe,
.videoWrapper > #widget2 {
	z-index: -4 !important;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	margin: 0;
	width: 100% cover !important;
	height: auto !important;
}
